.enemy-attack-screen{
    display: none;
    width: 40%;
    height: 65%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid green;
}

.slide-down{
    animation: slide-in 0.5s ease-in;
}

@keyframes slide-in{
    0%{
        top: -150%;
    }
    100%{
        top: 50%;
    }
}

.slide-up{
    animation: slide-up 0.5s ease-in-out;
}

@keyframes slide-up{
    0%{
        top: 50%;
    }
    100%{
        top: -150%;
    }
}

.damage-number{
    display: none;
    width: 3vw;
    height: 3vw;
    font-size: 2.3vw;
    position: absolute;
    animation: fallRightDown 1s ease-in-out;
    opacity: 1;
}

@keyframes fallRightDown {
    0% {
        top: 0;
        left: 0;
    }
    15% {
        top: 30%;
        left: 10%;
    }
    30% {
        top: 60%;
        left: 25%;
    }
    45% {
        top: 80%;
        left: 40%;
    }
    55% {
        top: 70%; /* Hoogste punt van de stuiter omhoog */
        left: 45%;
        opacity: 0.75;
    }
    70% {
        top: 90%;
        left: 48%;
        opacity: 0.50;
    }
    85% {
        top: 95%; /* Kleinere stuiter omhoog */
        left: 49%;
        opacity: 0.25;
    }
    100% {
        top: 100%;
        left: 50%;
        opacity: 0;
    }
}


