.enemy-attack-screen{
    display: none;
    width: 40%;
    height: 65%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid green;
}

.slide-down{
    animation: slide-in 0.5s ease-in;
}

@keyframes slide-in{
    0%{
        top: -150%;
    }
    100%{
        top: 50%;
    }
}

.slide-up{
    animation: slide-up 0.5s ease-in-out;
}

@keyframes slide-up{
    0%{
        top: 50%;
    }
    100%{
        top: -150%;
    }
}

.damage-number{
    display: none;
    width: 3vw;
    height: 3vw;
    font-size: 2.3vw;
    position: absolute;
    text-shadow: 
        -0.2vw -0.2vw 0 black, /* Top-left shadow */
         0.2vw -0.2vw 0 black, /* Top-right shadow */
        -0.2vw  0.2vw 0 black, /* Bottom-left shadow */
         0.2vw  0.2vw 0 black; /* Bottom-right shadow */
    animation: fallRightDown 1s ease-in-out;
    opacity: 1;
}

@keyframes fallRightDown {
    0% {
        top: 0;
        left: 0;
    }
    15% {
        top: 30%;
        left: 10%;
    }
    30% {
        top: 60%;
        left: 25%;
    }
    45% {
        top: 80%;
        left: 40%;
    }
    55% {
        top: 70%; /* Hoogste punt van de stuiter omhoog */
        left: 45%;
        opacity: 0.75;
    }
    70% {
        top: 90%;
        left: 48%;
        opacity: 0.50;
    }
    85% {
        top: 95%; /* Kleinere stuiter omhoog */
        left: 49%;
        opacity: 0.25;
    }
    100% {
        top: 100%;
        left: 50%;
        opacity: 0;
    }
}

.heal-number{
    display: none;
    font-size: 2.5vw;
    color: green;
    text-shadow: 
        -0.2vw -0.2vw 0 black, /* Top-left shadow */
         0.2vw -0.2vw 0 black, /* Top-right shadow */
        -0.2vw  0.2vw 0 black, /* Bottom-left shadow */
         0.2vw  0.2vw 0 black; /* Bottom-right shadow */
    position: absolute;
    bottom: 10%;
    animation: float-up 2s ease-in-out;
}

@keyframes float-up{
    0%{
        bottom: 0;
    }
    100%{
        bottom: 70%;
    }
}

.damage-number-enemy{
    display: none;
    width: 5vw;
    height: 5vw;
    font-size: 2.3vw;
    position: absolute;
    text-shadow: 
        -0.2vw -0.2vw 0 black, /* Top-left shadow */
         0.2vw -0.2vw 0 black, /* Top-right shadow */
        -0.2vw  0.2vw 0 black, /* Bottom-left shadow */
         0.2vw  0.2vw 0 black; /* Bottom-right shadow */
    animation: fallLeftDown 2s ease-in-out;
    opacity: 1;
}

@keyframes fallLeftDown {
    0% {
        top: 0;
        right: 0;
    }
    15% {
        top: 30%;
        right: 10%;
    }
    30% {
        top: 60%;
        right: 25%;
    }
    45% {
        top: 80%;
        right: 40%;
    }
    55% {
        top: 70%; /* Hoogste punt van de stuiter omhoog */
        right: 45%;
        opacity: 0.75;
    }
    70% {
        top: 90%;
        right: 48%;
        opacity: 0.50;
    }
    85% {
        top: 95%; /* Kleinere stuiter omhoog */
        right: 49%;
        opacity: 0.25;
    }
    100% {
        top: 100%;
        right: 50%;
        opacity: 0;
    }
}

.colorFade{
    animation: colorFade 1s infinite;
}

@keyframes colorFade{
    0%{
        background-color: rgba(0,255,255,255);
    }
    50%{
        background-color: blue;
    }
    100%{
        background-color: rgba(0,255,255,255);
    }
}